ul
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 4rem;
    
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    list-style: none;
}
