.container3
{
  display: none;
}
.box
{
  position: absolute;
  top:2%;
  height: 80px;
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
  min-width: 100vw;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
}

.container3
{
  height: 50vh;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  padding: 30px;
  z-index: 0;
}

.active
{
  border-bottom: 3px solid white;
  
}

.navbar
{
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 2rem;
  height: 100%;
  
}
.navbar a
{
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: auto;

  flex: 1;
}

.line 
{
  display: none;
}

button
{
  background: none;
  border: none;
  z-index: 1;
}


@media (min-width:650px) 
{
  .box
  {
    top:0;
  }

  .container3
  {
    height:100%;
    width: 60%;
    padding: 0px;

   }
 
  
  .navbar
  {
    flex-direction: row;
    margin-top: 0;
    gap:0;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
  }

  .navbar a
  {
    display: flex;
    align-items: center; 
    height: 100%;
    flex: 0;
    white-space: nowrap;
  }
  
   button
  {
    display: none;
  }
  .container3{
    display: block !important;
  }

}



@media (min-width:1000px) 
{

  .box
  {
    top: 5%;
  }
  .line
{
  display: block;
  position: absolute;
  width: calc(100vw - 68vw);
  top:50%;
  left: 10%;
  border: 1px solid grey;

}
}