main
{
    background: url('./background-home-mobile.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Barlow Condensed", sans-serif;
    
}
.explore a 
{
    border: none;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 4.75px;
    font-size: 25px;
    color: black;
    text-decoration: none;
   

}
.home_container
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    padding: 0px 30px;
    
 
}



.para1
{
    font-size: 18px;
    color: #d0d6f9;
    letter-spacing: 4.75px;
    text-align: center;
}

h1{
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}

.para2
{
    font-size: 18px;
    color: #d0d6f9;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5rem;
}

.explore
{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: white;
   
}

.content
{
    min-height: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (min-width:650px) 
{
    main
    {
        background: url('./background-home-tablet.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }
    
        .explore
        {
            display:block;
            width: 200px;
            height: 200px;
        }
        .home_container
        {
            gap:0;
        }

        h1
        {
            font-size: 100px;
        }
        
}


@media (min-width:1000px) 
{
    .home_container
    {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    main
    {
        background: url('./background-home-desktop.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }

    .content
    {
        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    h1{
        margin-bottom: 30px;
    }

    .explore
    {
        align-self: flex-end;
    }
}